<app-header titulo="Terror"></app-header>

<ion-content>
  <ion-grid>
    <ion-row>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle color="secondary">Abismo</ion-card-subtitle>
            <ion-img src="/assets/terror/abismo.jpg"></ion-img>
            <ion-button  color="dark" routerLink="/comedia">VER</ion-button>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle color="secondary">Polaroid</ion-card-subtitle>
            <ion-img src="/assets/terror/pola.jpg"></ion-img>
            <ion-button  color="dark">VER</ion-button>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle color="secondary">Isabell</ion-card-subtitle>
            <ion-img src="/assets/terror/isabell.jpg"></ion-img>
            <ion-button color="dark">VER</ion-button>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle color="secondary">La Mano Del Demonio</ion-card-subtitle>
            <ion-img src="/assets/terror/mano.jpg"></ion-img>
            <ion-button color="dark">VER</ion-button>
          </ion-card-header>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
