<app-header titulo="Comedia"></app-header>

<ion-content>
  <ion-grid>
    <ion-row>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle color="secondary">Son Como Niños</ion-card-subtitle>
            <ion-img src="/assets/comedia.jpg"></ion-img>
            <ion-card-subtitle></ion-card-subtitle>
            <ion-button  color="dark" routerLink="/comedia">VER</ion-button>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle color="secondary">Estoy hecho un animal</ion-card-subtitle>
            <ion-img src="/assets/comedia/animal.jpg"></ion-img>
            <ion-button  color="dark">VER</ion-button>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle color="secondary">Feo pero sabrosos</ion-card-subtitle>
            <ion-img src="/assets/comedia/feo.jpg"></ion-img>
            <ion-button color="dark">VER</ion-button>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle color="secondary">10 dias sin mama</ion-card-subtitle>
            <ion-img src="/assets/comedia/mama.jpg"></ion-img>
            <ion-button color="dark">VER</ion-button>
          </ion-card-header>
        </ion-card>
      </ion-col>


    </ion-row>
  </ion-grid>
</ion-content>
