<app-header titulo="Romance"></app-header>

<ion-content>
  <ion-grid>
    <ion-row>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle color="secondary">after: almas perdidas</ion-card-subtitle>
            <ion-img src="/assets/romance/after.jpg"></ion-img>
            <ion-button  color="dark" routerLink="/comedia">VER</ion-button>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle color="secondary">cenicienta</ion-card-subtitle>
            <ion-img src="/assets/romance/ceni.jpg"></ion-img>
            <ion-button  color="dark">VER</ion-button>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle color="secondary">Alguien como el</ion-card-subtitle>
            <ion-img src="/assets/romance/como.jpg"></ion-img>
            <ion-button color="dark">VER</ion-button>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle color="secondary">Tus ojos dicen</ion-card-subtitle>
            <ion-img src="/assets/romance/tus.jpg"></ion-img>
            <ion-button color="dark">VER</ion-button>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle color="secondary">Violet evangarden</ion-card-subtitle>
            <ion-img src="/assets/romance/violet.jpg"></ion-img>
            <ion-button color="dark">VER</ion-button>
          </ion-card-header>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
