<ion-header>
  <ion-toolbar color="black">
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>PELIS PLUS V2</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle color="secondary">Comedia</ion-card-subtitle>
            <ion-img src="/assets/comedia.jpg"></ion-img>
            <ion-button  color="dark" routerLink="/comedia">VER</ion-button>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle color="secondary">Terror</ion-card-subtitle>
            <ion-img src="/assets/terror.jpg"></ion-img>
            <ion-button  color="dark" routerLink="/terror">VER</ion-button>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle color="secondary">Romance</ion-card-subtitle>
            <ion-img src="/assets/romance.jpg"></ion-img>
            <ion-button color="dark" routerLink="/romance">VER</ion-button>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle color="secondary">Ciencia Ficcion</ion-card-subtitle>
            <ion-img src="/assets/ficcion.jpg"></ion-img>
            <ion-button color="dark" routerLink="/ciencia">VER</ion-button>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle color="secondary">Musical</ion-card-subtitle>
            <ion-img src="/assets/musical.jpg"></ion-img>
            <ion-button color="dark" routerLink="/musical" >VER</ion-button>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle color="secondary">Fantasia</ion-card-subtitle>
            <ion-img src="/assets/fantasia.jpg"></ion-img>
            <ion-button color="dark" routerLink="/fantasia" >VER</ion-button>
          </ion-card-header>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
